* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

header {
    background-color: #000;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.menu-btn {
    background-color: #d7ef8d;
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-links a {
    color: #d7ef8d;
    margin-right: 20px;
    text-decoration: none;
}

.logo h1 {
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: freefatfont;
}

.search-container input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    background-color: #e9e322;
}

.text-content {
    max-width: 50%;
}

.text-content h1 {
    font-size: 72px;
    color: #4367f4;
}

.text-content p {
    margin: 20px 0;
    font-size: 16px;
}

.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff007b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #d60065;
}

.image-content img {
    max-width: 100%;
    border-radius: 10px;
}
